.dupdate-profile {
    position: relative;
}
table.dedu_view {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    display: block;
}
table.dedu_view tr td {
    padding: 6px 0;
}
a.add-btn.crt-acc {
    background: #68AA47;
    color: #fff;
}

a.add-btn.crt-acc:hover{
    opacity: 0.8;
}
a.edit-btn{
    position: absolute;
    top: -9px;
    right: 20%;
    background: #68AA47;
    color: #fff;
}
a.edit-btn:hover{
    opacity: 0.8;
}
span.separate {
    margin: 0 12px;
}

#image_preview{
    text-align: center;
}
#selectImage{

}
.photo-button {
    text-align: center;
    position: relative;
}
.submit{
font-size: 16px;
background: #207FDC;
color: #fff;
font-weight: bold;
cursor: pointer;
height: 40px;
padding: 0 20px;
line-height: 40px;
outline: none;
margin-top: 5px;
margin-left: 5%;
display: inline-block;
}
.submit:first-of-type{margin-left: 0%;}
.submit:hover{

}
#file, #pfile {
    color: red;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0;
    margin: 28px auto;
    text-align: center;
}
#message{
    text-align: center;
}
#success
{
color:green;
padding: 5px 10px;
    background: #ddd;
    margin-bottom: 10px;
    display: inline-block;
}
span#invalid span {
    margin-right: 20px;
    color: #555;
}
#invalid
{
    color: red;
    padding: 5px 10px;
    background: #ddd;
    margin-bottom: 10px;
    display: inline-block;
}
#error
{
color:red;
padding: 5px 10px;
    background: #ddd;
    margin-bottom: 10px;
    display: inline-block;
}
#error_message
{
color:blue;
padding: 5px 10px;
    background: #ddd;
    margin-bottom: 10px;
    display: inline-block;
}
#loading, #ploading
{
display:none;

}
.profile-approve {
    border: 1px solid #ddd;
    padding: 20px 30px;
    text-align: center;
}

.profile-approve span.success {
    color: green;
    display: block;
}
.profile-approve span{}
.profile-approve a {
    font-weight: 700;
    margin-left: 4px;
    text-decoration: underline;
}

.doc-sty-inner h5, h3.details-online-status {
    position: relative;
}

div#online_status {
    position: absolute;
    top: -2px;
    left: 15%;
}
h3.details-online-status div#detail_online_status{
    position: absolute;
    top: -2px;
    left: -3%; 
}
span.online, span.offline {
    display: inline-block;
    background: #D7DCDE;
    height: 12px;
    line-height: 12px;
    border-radius: 50px;
    width: 12px;
    vertical-align: middle;
}
span.online{
    background: green !important;
}
.qualif p {
    margin: 0;
    padding: 5px 0 !important;
}
.bt-appo.padd-top {
    padding-top: 30px;
}
img.preview_photo {
    border: 1px solid #ddd;
}





.leftsidebar {
    background: #fff;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.mystate {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 14px !important;
    border-top: 1px solid #efefef !important;
}


/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:10px;
    display:inline-block;
    border-bottom: 1px solid #ddd;
    background: #1D3349;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#207FDC;
    color:#fff;
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}