.membership_status {
    margin-bottom: 34px;
    background: #eee;
}
div#membership_expire {
    color: #FFAA28;
}

h4.type-style {
    color: #74B556;
}
div#membership_expire .expired {
    font-size: 16px;
}
a.menu-active {
    background: #1D3349;
    color: #fff;
    padding: 4px;
    margin: 5px 0;
    display: block;
    border-radius: 5px;
}
.acc-info {
    background: #EEEEEE;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.acc-info span {
    display: block;
}

h4.position_radio {
    margin-top: -2px;
}