/*================Departments==============*/
.error_success {
    margin-left: 36%;
    color: green;
}
.dep-view-sty {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dep-view-sty li {
    padding: 5px 30px;
    display: inline-block;
}
.t-stlye tr th {
    text-align: center;
    padding: 4px 20px;
}
.t-stlye tr td {
    padding: 15px 15px;
    text-align: justify;
}
.t-stlye tr:hover {
    background-color: #BCB;
    color: #fff;
}
.error {
    color: red;
}
.error-msg{
    color: red;
    margin-left: 16px;
}

#noti_Container {
    position:relative;
}

/* A BUTTON IN THE TOP MENU. */
#noti_Button {
    width:100px;
    height:22px;
    line-height:22px;
    border-radius:2%;
    -moz-border-radius:2%; 
    -webkit-border-radius:2%;
    background:#FFF;
    /*margin:-3px 10px 0 10px;*/
    cursor:pointer;

    margin: 14px 15px 10px -78px;;
}
#noti_Counter {
    display:block;
    position:absolute;
    background:#E1141E;
    color:#FFF;
    font-size:12px;
    font-weight:normal;
    padding:1px 3px;
    margin: 4px 0px 0px 15px;
    border-radius:2px;
    -moz-border-radius:2px; 
    -webkit-border-radius:2px;
    z-index:1;
}

/* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
#notifications {
    display:none;
    width:240px;
    position:absolute;
    top:30px;
    left:0;
    background:#FFF;
    border:solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
    z-index: 0;
}
/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
#notifications:before {         
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
}

#notifications.h3 {
    display:block;
    color:#333; 
    background:#FFF;
    font-weight:bold;
    font-size:13px;    
    padding:8px;
    margin:0;
    border-bottom:solid 1px rgba(100, 100, 100, .30);
}

.seeAll {
    background:#F6F7F8;
    padding:8px;
    font-size:12px;
    font-weight:bold;
    border-top:solid 1px rgba(100, 100, 100, .30);
    text-align:center;
}
.seeAll a {
    color:#3b5998;
}
.seeAll a:hover {
    background:#F6F7F8;
    color:#3b5998;
    text-decoration:underline;
}



#noti_Container {
    position:relative;
}

/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */


/* THE POPULAR RED NOTIFICATIONS COUNTER. */


/* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */

/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */

