@import url('_common-style.css');
@import url('_registration.css');
@import url('_doctor.css');
@import url('_patient.css');


/*==================================*/
/*--------     top header     ---------*/
/*================================*/

.top-header-bg.clearfix {
    background: #1D3349;
    color: #fff;
    padding: 10px 0;
}
.header-top-social {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.header-top-social li {
    display: inline-block;
    margin-left:22px;
    margin-right:22px;
}
.header-top-social li a {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
.wel-msg {
    margin: 0;
}
.header-top-social li:first-child{margin-left:0px;}
.header-top-social li:last-child{margin-right:0px;}

/*========= Create Account ===========*/


.create-ac:hover {
    color: #47c93d;
}
.modal-title {
    text-align: center;
    color: #000;
    font-size: 24px;
    margin-bottom: 6px;
}
.modal-header{
    border: none;
}
.modal-header p{
    text-align: center;
}
.modal-body{
    padding: 0 50px;
}
.rowpb{
    padding-bottom: 20px; 
}
.ac-pa{
    background-color: #68aa47;
    color: #fff;
    padding: 40px 20px;
}
.actcnt{
    text-align: center;
}
.modal-content{
    padding: 0 0 40px;
}
.ac-pa h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.crt-acc {
    background: #fff;
    color: #68aa47;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 15px;
    display: inline-block;
    margin: 10px 0 0;
    text-transform: uppercase;
}
.crt-acc:hover{
    background-color: #68aa47;
    color: #fff; 
}
.mbbg {
    background-color: #0b5f8a;
}
.cambc{
    color: #0b5f8a;
}
.cambc:hover{
    background-color: #0b5f8a;
}
.rbbg {
    background-color: #009688;
}
.carbc{
    color: #009688;
}
.carbc:hover{
    background-color: #009688;
}


/*========= Create Account End ===========*/

.logo {
    margin-top: 10px;
    margin-bottom: 0;
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu li {
    display: inline-block;
}
.menu-area {
    text-align: center;
}
.nav-menu > li > a {
    display: block;
    padding: 28px 20px;  
    font-size: 15px;  
    text-decoration: none;  
    color: #32404d;  
    font-weight: 600;  
    text-transform: uppercase;
}
.nav-menu > li:last-child > a{
    padding-right: 0;
}
.nav-menu > li:first-child > a{
    padding-left: 0;
}
.call-us {
    padding-top: 20px !important;
}
.call-us span {
    background: #1D74CA;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    width: 140px;
    height: 40px;
    line-height: 40px;
}
.nav-menu > li > a:hover, .nav-menu > li.active > a{
    color: #1D74CA;
}


/*=================Department=================*/
.Department-wrp {
    padding: 80px 0;
}
.text-center.sub-title.padd {
    padding-bottom: 40px;
}
.heading-title {
    text-transform: uppercase;
    color: #221223;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.2;
}
.sub-title {
    color: #221223;
    font-weight: 600;
    margin-bottom: 40px;
}

.department-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.department-nav li{
    width: 50%;
    float: left;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    padding: 20px 0 20px 0;
    cursor: pointer;
}
.department-nav li, #active a, .department-nav li a:hover {
    color: #207fdc;
    background: transparent;    
}
.department-nav li a{
    font-size: 22px;
    color: #221223;
}
.department-nav li a span{
    display: block;
}
#even{
    border-right: none;
    padding-left: 20px;
}
#last{
    border-bottom: none;
}
.tab-link.bonone {
    border-bottom: none;
}
.department-nav li a span {
    display: block;
}
.department-nav li a i {
    font-size: 34px;
    line-height: 1.4;
}
.tab-content.eyesize i{
    font-size: 250px;
    color: #1d3349;
    float: left;
    margin: 20px 0 0 35px;
}
.tab-content.eyesize h1{
    color: #000;
    padding-bottom: 12px;
    padding-left: 50%;
}
.tab-content.current p {
    padding-left: 50%;
}
.bt-appo.dep-btn {
    float: right;
    padding: 20px 0 0;
}

.department-panel>.active {
    display: block;
}
.department-panel>.panel{
    display: none;
}

.tab-content{
    display: none;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
.btn{
    border-radius: 24px;
    padding: 7px;
    width: 111%;
    display: inherit;
}

/*=======================About US==================*/
.about-wrp{
    background: #207fdc;
}
.ptb80{
    padding: 80px 0;
}
.right_side{
    padding-left: 30px;
}
.about_style {
    margin-top: 50px;
}
.about_style .h_title{
    color: #fff;
}
.h_title {
    font-weight: bold;
    margin: 0;
    color: #221223;
    line-height: 1.2;
    text-transform: uppercase;
}
.sub_title {
    margin-bottom: 30px;
    color: #fff;
    margin-top: 0;
}
.about_style p{
    color: #c4dff8;
    line-height: 26px;
    padding-bottom: 30px;
}
.btn-doc {
    border-radius: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 25px;
}
.dv-btn {
    border: 0px solid transparent;
    color: #fff;
    background: #47c93d;
}
.btn-doc.dv-btn.btnbg{
    background: #1D74CA;
}
.btn-doc.dv-btn.btnbg:hover{
    background: #1D74CA;
}
.btn-doc:hover{
    color: #fff;
    background: #47c93d;
    box-shadow: 0.87px 0.096px 10px 0 rgba(0, 0, 0, 0.4);
}
.right_side hr {
    border-color: #4495e4;
    margin-top: 50px;
}

/*======================  Make You Appoinment wrp ================*/
.make-appointment-wrp{
    background: #e5f1f0;
    padding: 50px 0 80px;
}
.appo-texts h1, .appo-texts p {
    color: #000;
}
.bt-appo.app-btn {
    margin-top: 18%;
    padding: 0;
}
.button-right{
    margin-left: 20px !important;
}

/*--------  Footer wrp ---------*/

.footer-wrp{
    background: #1d3349;
}
.footer-logo-wid {
    padding-top: 60px;
}
.footer-logo-wid img {
    width: 70%;
}
.footer-logo-wid h2 {
    color: #fff;
}
.footer-menu {
    margin-top: 15px;
    padding: 0;
}
.footer-menu li {
    list-style: none;
    float: left;
    width: 40%;
    line-height: 30px;
}
.footer-menu li a{
    color: #90a6bc;
    font-size: 15px;
}
.footer-menu li a:hover{
    color: #c5cfda;
}
.footer-menu i {
    color: #90a6bc;
    font-size: 8px;
    float: left;
    padding: 10px 15px 0 0;
}
.footer-contact {
    background: #207fdc;
    margin-bottom: -84px;
    margin-right: -45px;
    padding: 80px 30px 65px;
    z-index: 1;
    display: inline-block;
}
.footer-contact h2 {
    color: #fff;
    margin: 0;
    padding-bottom: 18px;
}
.contact-icon i {
    color: #c4dcf4;
    font-size: 22px;
    float: left;
    padding: 5px 25px 10px 1px;
}
.contact-icon p {
    color: #c4dcf4;
    font-size: 17px;
    margin-bottom: 15px;
}
.fa-size i {
    font-size: 18px;
    padding: 5px 20px 10px 0;
}
.footer-social-icon {
    margin-left: 30px;
}
.footer-social-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-social-icon ul li {
    float: left;
    padding: 10px 6px 0 6px;
}
.footer-social-icon ul li a {
    font-size: 22px;
    color: #569add;
}
.footer-social-icon ul li a:hover i {
    color: #a1d0ff;
}
.footer-bottom{
    background: #132334;
}
.footer-copyright {
    text-align: center;
    color: #90a6bc;
    padding: 29px 0;
}


/*==================================*/
/*--------   Doctor page  ---------*/
/*================================*/
.banner-session{
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}
.doc-sp {
    position: relative;

}

.doc-sp h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 300;
    line-height: 0.5;
}
.doc-sp h1 {
    font-size: 38px;
    color: #fff;
    font-weight: bold;
}
.doc-sp.hb-text h1{
    text-align: center;
    text-transform: uppercase;
}
.doc-sp.hb-text h4{
    text-align: center;
}

.make-appo a {
    color: #fff;
    border-bottom: 4px solid #47c93d;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 0;
}
.make-appo {
    padding: 132px 0 0 0;
    float: right;
}
.Doctor-session-wrp {
    padding: 80px 0;
}
.doc-sub-title {
    margin-bottom: 30px;
    color: #221223;
    margin-top: 0;
}
.doc-sty-box {
    margin-bottom: 50px;
}
.doc-sty-box img {
    width: 100%;
    border: 1px solid #dce8f1;
}
.doc-sty-inner {
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #e0e0e0;
}
.doc-sty-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.doc-sty-inner ul li {
    display: inline-block;
    padding: 0 5px;
}
.doc-sty-inner ul li a {
    color: #bbc6ce;
}
.doc-sty-inner h5 {
    margin-bottom: 0;
    font-weight: bold;
}
.doc-sty-inner h5 a {
    color: #221223;
}
.doc-sty-inner:hover, .doc-sty-inner:hover i{
    background: #1D74CA;
    color: #fff;
}
.btn-center{
    text-align: center;
}

/*==========================================*/
/*--------   Doctor details page  ---------*/
/*========================================*/

.Doc-pro-wrp{
    padding: 80px 0;
}
.doc-img {
    box-shadow: 0 35px 43px 0 rgba(0,0,0,0.11);
}
.dp-box > h3 {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}
.dp-dg {
    font-weight: 300;
    color: #364d61;
    font-size: 26px;
    padding-bottom: 20px;
}
.doc-sicon{
    padding-bottom: 20px;
}
.doc-sicon ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.doc-sicon ul li {
    display: inline-block;
    margin-right: 5px;
}
.doc-sicon ul li a {
    width: 40px;
    height: 40px;
    color: #fff;
    display: table-cell;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}
.doc-sicon .doc-fb{
    background: #3b5999;
}
.doc-sicon .doc-twi{
    background: #00abf1;
}
.doc-sicon .doc-gplus{
    background: #e12f2f;
}
.dp-box p{
    padding: 0 0 40px;
}
.bt-appo{
    padding-bottom: 40px;
}
.qualif h3 {
    font-size: 20px;
}
.doc-app-time {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.doc-app-time li {
    width: 95%;
    float: left;
}
.doc-app-time span {
    float: right;
}

.dsdbg{
    background: #e5f1f0;
}



/*
Login Page
*/


.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding-top: 40px;
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #245580;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
.loginMargin:after{
    position: absolute;
    content: "";
    height: 134%;
    width: 1px;
    background: #c0ceda;
    right: 0%;
    top: -17%;
}
.loginMargin:before {
    position: absolute;
    content: "";
    height: 134%;
    width: 1px;
    background: #c0ceda;
    right: 0%;
    top: -17%;
}

.registerAfter:after{
    position: absolute;
    content: "";
    height: 134%;
    width: 1px;
    background: #c0ceda;
    right: 100%;
    top: -17%;
}
