<section class="Department-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="heading-title">Department</h2>
                    <h4 class="sub-title padd">Our department &amp; special services</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="department-box">
                    <ul class="tabs department-nav">
                        <li class="tab-link current" data-tab="tab-1" id="active">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        <li class="tab-link" data-tab="tab-2" id="even">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        <li class="tab-link" data-tab="tab-3">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        <li class="tab-link" data-tab="tab-4" id="even">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        <li class="tab-link" data-tab="tab-5" id="last">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        <li class="tab-link bonone" data-tab="tab-6" id="even">
                            <a href="#" data-toggle="tab"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Oral Health</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="department-panel">
                    <div class="tab-panel active">
                        <div class="row">
                            <div id="tab-1" class="tab-content current eyesize"><i class="fa fa-eye" aria-hidden="true"></i>
                                <h1>Oral Health</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
                <div class="department-panel">
                    <div class="tab-panel">
                        <div class="row">
                            <div id="tab-2" class="tab-content eyesize"><i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h1>Heartbeat</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="department-panel">
                    <div class="tab-panel">
                        <div class="row">
                            <div id="tab-3" class="tab-content eyesize"><i class="fa fa-eye" aria-hidden="true"></i>
                                <h1>Oral Health</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="department-panel">
                    <div class="tab-panel">
                        <div class="row">
                            <div id="tab-4" class="tab-content eyesize"><i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h1>Oral Health</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="department-panel">
                    <div class="tab-panel">
                        <div class="row">
                            <div id="tab-5" class="tab-content eyesize"><i class="fa fa-eye" aria-hidden="true"></i>
                                <h1>Oral Health</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="department-panel">
                    <div class="tab-panel">
                        <div class="row">
                            <div id="tab-6" class="tab-content eyesize"><i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h1>Oral Health</h1>
                                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</P>
                                <div class="bt-appo dep-btn">
                                    <a class="btn-doc dv-btn btnbg" href="#">make appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container -->            
        </div>
    </div>
</section>