
@import "http://fonts.googleapis.com/css?family=Droid+Sans";
form{
}
#maindiv{
    width:960px;
    margin:10px auto;
    padding:10px;
    font-family:'Droid Sans',sans-serif
}
#formdiv{
    width:500px;
    float:left;
    text-align:center;
}
form{
}
h2{
    margin-left:30px
}
.upload{
    background-color: #204d74;
    border:1px solid #000;
    color:#fff;
    border-radius:5px;
    padding: 5px;
    text-shadow:1px 1px 0 green;
    box-shadow:2px 2px 15px rgba(0,0,0,.75)
}
.upload:hover{
    cursor:pointer;
    background:#204d74;
    border:1px solid #000;
    box-shadow:0 0 5px rgba(0,0,0,.75)
}
#file{
    color:green;
    padding:5px;
    border:1px dashed #123456;
    background-color:#f9ffe5
}
#upload{
    margin-left:45px
}
#noerror{
    color:green;
    text-align:left
}
#error{
    color:red;
    text-align:left
}
#img{
    width:17px;
    border:none;
    height:17px;
    margin-left:-20px;
    margin-bottom:91px
}
.abcd{
    text-align:center
}
.abcd img{
    height:100px;
    width:100px;
    padding:5px;
    border:1px solid #e8debd
}
b{
    color:red
}
